<h1>Authentification</h1>
<main id="connexionMain">
  <h2>Login</h2>
  <form action="" id="connexionForm" method="post">
    <label for="email"><b>Email</b></label>
    <input id="email" placeholder="exemple@gmail.com" required type="email">

    <label for="psw"><b>Password</b></label>
    <input id="psw" required type="password">

    <div>
      <input id="remember" type="checkbox">
      <label for="remember">Remember me</label>
    </div>

    <button color="primary" mat-flat-button>Sign In</button>
  </form>
</main>
