<h2 class="titrePage">Connexion</h2>
<main id="connexionMain">
  <form action="" id="connexionForm" method="post">
    <label for="email"><b>Email</b></label>
    <input id="email" placeholder="exemple@gmail.com" required type="email">

    <label for="psw"><b>Mot de passe</b></label>
    <input id="psw" required type="password">

    <div>
      <input id="remember" type="checkbox">
      <label for="remember">Rester connecté</label>
    </div>

    <button color="primary" mat-flat-button>Se connecter</button>
  </form>
  <div class="connectionAnnexe">
    <button color="primary" mat-flat-button>Se connecter avec Facebook</button>
    <button color="primary" mat-flat-button>Se connecter avec Google</button>
  </div>
  <div>
    <p>Pas encore de compte?</p>
    <a class="cta" routerLink="../inscription">
      <button mat-stroked-button>Creer compte</button>
    </a>
  </div>
</main>
