.filAriane{
  margin: 30px 30px;
  border-bottom: solid;
}

section {
  display: flex;
  justify-content: center;
}

.allImages {
  max-width: 350px;
  padding: 50px;
}

.allImages img {
  max-width: 250px;
  padding: 10px;
}

.mainImage {
  padding: 50px;
  width: 300%;
  height: auto;
  max-width: 700px;
}

.textPart {
  width: 15%;
  padding-top: 50px;
}

.topPart{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.note {
  padding-bottom: 10px;
  border-bottom: solid;
}

.stock{
  padding-bottom: 10px;
  border-bottom: solid;
}
