<h2 class="filAriane">Produits > Meubles > chaises</h2>
<section>
  <div class="allImages">
    <img alt="" src="https://picsum.photos/id/1/300/200">
    <img alt="" src="https://picsum.photos/id/3/300/200">
  </div>
  <img alt="" class="mainImage" src="https://picsum.photos/id/1/300/200">
  <div class="textPart">
    <div class="topPart">
      <h2>Nom</h2>
      <h2>99€</h2>
    </div>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci, animi assumenda corporis
      dignissimos doloribus et eum ex excepturi fuga iure molestiae, mollitia provident quia rem unde voluptas!
      Distinctio, laboriosam.
    </p>
    <h3 class="note">
      4.0/5
    </h3>
    <h3 class="stock">
      10 en stock
    </h3>
    <a class="cta" routerLink="panier">
      <button color="primary" mat-stroked-button>Ajouter au panier</button>
    </a>
  </div>
</section>
