<main id="connexionMain">
  <h2>Inscription</h2>
  <form id="connexionForm" method="post">
    <label for="email"><b>Email</b></label>
    <input id="email" name="email" placeholder="exemple@gmail.com" required type="email">

    <label for="psw"><b>Mot de passe</b></label>
    <input id="psw" name="password" required type="password">

    <label for="psw"><b>Confirmation</b></label>
    <input id="confpsw" name="confPassword" required type="password">

    <button (click)="handleSubmit($event)" color="primary" mat-flat-button>Valider</button>
  </form>
</main>
