<section>
  <div class="etape">
    <button class="etapebtn" color="primary" mat-stroked-button>1</button>
    <button class="etapebtn" color="primary" mat-stroked-button disabled>2</button>
    <button class="etapebtn" color="primary" mat-stroked-button disabled>3</button>
    <button class="etapebtn" color="primary" mat-stroked-button disabled>4</button>
  </div>
  <div class="main">
    <div class="leftPart">
      <div class="part">
        <div class="produit">
          <img alt="" src="https://picsum.photos/id/1/300/200">
          <div class="description">
            <h3>Nom</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem commodi cupiditate dolor doloribus esse
              est exercitationem incidunt iure maxime mollitia nulla quas, quasi, quia quidem quis recusandae, temporibus
              voluptates!</p>
            <button color="primary" mat-stroked-button>Supprimer ></button>
          </div>
          <h2>59€</h2>
          <select name="nombreProduit">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
          </select>
        </div>
        <div class="produit">
          <img alt="" src="https://picsum.photos/id/1/300/200">
          <div class="description">
            <h3>Nom</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem commodi cupiditate dolor doloribus esse
              est exercitationem incidunt iure maxime mollitia nulla quas, quasi, quia quidem quis recusandae, temporibus
              voluptates!</p>
            <button color="primary" mat-stroked-button>Supprimer ></button>
          </div>
          <h2>59€</h2>
          <select name="nombreProduit">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
          </select>
        </div>
      </div>

    </div>
    <div class="rightPart">
      <div class="part">
        <div class="total">
          <h3>Total</h3>
          <h3>84€</h3>
        </div>
        <button color="primary" mat-stroked-button>Valider mon panier ></button>
      </div>
    </div>
  </div>
</section>

