<h2 class="titrePage">Contact</h2>
<main id="connexionMain">
  <form action="" id="connexionForm" method="post">

    <input id="name" placeholder="Nom" required type="text">

    <input id="email" placeholder="example@gmail.com" required type="email">

    <input id="subject" placeholder="Sujet" required type="text">

    <textarea id="message" placeholder="Message" required rows="5"></textarea>

    <button class="g-recaptcha" color="primary" data-action='submit' data-callback='onSubmit'
            data-sitekey="6LdmFZEeAAAAAJXJqGbFe1QwUt4ShBY_aaXcIDxf" mat-flat-button>
      Envoyer
    </button>
  </form>
</main>
