main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

input, textarea {
  padding: 5px;
  margin-bottom: 15px;
}

textarea {
  min-height: 100px;
}

.titrePage{
  margin: 30px 30px;
  border-bottom: solid;
}
